In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Используем датасет с маленьким количеством фичей, но без пропусков

In [2]:
data = pd.read_csv('../data/data_for_model.csv')

In [29]:
data[data.player_id == 8492]

,player_stats_id,season_id,team_id,player_id,games,points,goals,assists,penalty,p_m,...,player_height,player_weight,player_site_id,player_age,player_name,player_unicode_name,player_khl_id,player_nhl_id,season_year,season_type
1,143,74,69,8492,80,52,21,31,37,-6,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2014,regular
1932,132,47,67,8492,81,48,25,23,72,-11,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2005,regular
1933,133,50,67,8492,82,84,43,41,40,47,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2006,regular
1934,134,53,67,8492,82,64,36,28,64,-5,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2007,regular
1935,135,56,67,8492,73,64,40,24,44,-1,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2008,regular
1936,136,59,67,8492,71,53,28,25,42,9,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2009,regular
1937,137,62,67,8492,80,73,32,41,24,2,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2010,regular
1938,138,65,67,8492,78,61,26,35,52,-6,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2011,regular
1939,139,68,67,8492,38,41,20,21,20,-1,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2012,regular
1940,140,71,67,8492,13,9,4,5,4,-5,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2013,regular
1941,141,71,76,8492,47,44,17,27,34,4,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2013,regular
1942,142,71,75,8492,18,15,6,9,8,8,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2013,regular
1943,144,77,69,8492,74,41,18,23,22,-10,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2015,regular
1944,145,80,85,8492,48,38,15,23,16,2,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2016,regular
1945,146,80,68,8492,20,10,2,8,6,-7,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2016,regular
1946,147,83,84,8492,61,41,17,24,28,-12,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2017,regular
1947,148,83,82,8492,19,15,7,8,8,9,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2017,regular
1948,149,86,85,8492,64,36,16,20,26,-12,...,188.0,97.0,8493,35.0,Thomas Vanek,thomas vanek,NaN,8470598,2018,regular

In [33]:
player = data[data.player_id == 8492]
player[['player_id', 'team_id', 'league_id', 'player_nationality', 'player_height', 'player_weight',
               'player_site_id', 'player_age']]

,player_id,team_id,league_id,player_nationality,player_height,player_weight,player_site_id,player_age
1,8492,69,9,Austria,188.0,97.0,8493,35.0
1932,8492,67,9,Austria,188.0,97.0,8493,35.0
1933,8492,67,9,Austria,188.0,97.0,8493,35.0
1934,8492,67,9,Austria,188.0,97.0,8493,35.0
1935,8492,67,9,Austria,188.0,97.0,8493,35.0
1936,8492,67,9,Austria,188.0,97.0,8493,35.0
1937,8492,67,9,Austria,188.0,97.0,8493,35.0
1938,8492,67,9,Austria,188.0,97.0,8493,35.0
1939,8492,67,9,Austria,188.0,97.0,8493,35.0
1940,8492,67,9,Austria,188.0,97.0,8493,35.0
1941,8492,76,9,Austria,188.0,97.0,8493,35.0
1942,8492,75,9,Austria,188.0,97.0,8493,35.0
1943,8492,69,9,Austria,188.0,97.0,8493,35.0
1944,8492,85,9,Austria,188.0,97.0,8493,35.0
1945,8492,68,9,Austria,188.0,97.0,8493,35.0
1946,8492,84,9,Austria,188.0,97.0,8493,35.0
1947,8492,82,9,Austria,188.0,97.0,8493,35.0
1948,8492,85,9,Austria,188.0,97.0,8493,35.0

In [4]:
data.columns

Index(['player_stats_id', 'season_id', 'team_id', 'player_id', 'games',
       'points', 'goals', 'assists', 'penalty', 'p_m', 'league_id',
       'league_short_name', 'league_full_name', 'team_name', 'team_country',
       'team_year_founded', 'team_full_name', 'team_league_link',
       'team_site_id', 'team_khl_id', 'team_nhl_id', 'player_nationality',
       'player_youth_team', 'player_position', 'player_shoots',
       'player_height', 'player_weight', 'player_site_id', 'player_age',
       'player_name', 'player_unicode_name', 'player_khl_id', 'player_nhl_id',
       'season_year', 'season_type'],
      dtype='object')

In [5]:
data.shape

(24219, 35)

### Готовим X и y

In [124]:
dataset = pd.read_csv('../data/dataset1.csv', sep=';')

In [125]:
dataset.head()

,player_id,player_nationality,player_height,player_weight,player_age,games_1990,games_1991,games_1992,games_1993,games_1994,...,league_id_2009,league_id_2010,league_id_2011,league_id_2012,league_id_2013,league_id_2014,league_id_2015,league_id_2016,league_id_2017,league_id_2018
0,3652,Canada,193.0,95.0,35.0,NaN,NaN,NaN,NaN,NaN,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
1,8492,Austria,188.0,97.0,35.0,NaN,NaN,NaN,NaN,NaN,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
2,8580,Czech Rep.,188.0,102.0,34.0,NaN,NaN,NaN,NaN,NaN,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN,NaN
3,9475,Canada,196.0,101.0,34.0,NaN,NaN,NaN,NaN,NaN,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
4,31372,USA,185.0,95.0,53.0,57.0,76.0,50.0,76.0,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
y = dataset['goals_2018']

In [132]:
y.head()

0    22.0
1    16.0
2     NaN
3     4.0
4     NaN
Name: goals_2018, dtype: float64

In [127]:
X = dataset.drop(['player_id', 'games_2018', 'points_2018', 'goals_2018', 'assists_2018', 'penalty_2018', 'p_m_2018',
                 'team_id_2018', 'league_id_2018', 'player_id'], axis=1)

In [130]:
X = X.join(pd.get_dummies(X['player_nationality']), how='right').drop('player_nationality', axis=1)

In [131]:
X.head()

,player_height,player_weight,player_age,games_1990,games_1991,games_1992,games_1993,games_1994,games_1995,games_1996,...,USA / Italy,USA / Mexico,USA / Russia,USA / South Korea,USA / Sweden,USA / Switzerland,USA / U.K.,Ukraine,Ukraine / Canada,Ukraine / USA
0,193.0,95.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,188.0,97.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,188.0,102.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,196.0,101.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,185.0,95.0,53.0,57.0,76.0,50.0,76.0,42.0,72.0,68.0,...,0,0,0,0,0,0,0,0,0,0

In [207]:
x_train, x_test, y_train, y_test = train_test_split(X[y.isna() != True], y[y.isna() != True], test_size=0.2, random_state=0)

In [225]:
X[y.isna() != True].shape

(906, 336)

In [217]:
import lightgbm as lgb

In [215]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\utils\extmath.py:776: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\User\Anaconda3\lib\site-packages\sklearn\utils\extmath.py:781: RuntimeWarning: Degrees of freedom <= 0 for slice.
  new_unnormalized_variance = np.nanvar(X, axis=0) * new_sample_count
C:\Users\User\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [218]:
d_train = lgb.Dataset(x_train, label=y_train)
params = {}
params['learning_rate'] = 0.003
params['boosting_type'] = 'gbdt'
params['metric'] = 'mape'
params['sub_feature'] = 0.5
params['num_leaves'] = 10
params['min_data'] = 50
params['max_depth'] = 10

clf = lgb.train(params, d_train, 100)

In [256]:
y_pred = clf.predict(x_test)

In [257]:
def percentage_error(actual, predicted):
    res = np.empty(actual.shape)
    for j in range(actual.shape[0]):
        if actual[j] != 0:
            res[j] = (actual[j] - predicted[j]) / actual[j]
        else:
            res[j] = predicted[j] / np.mean(actual)
    return res

def mean_absolute_percentage_error(y_true, y_pred): 
    return np.mean(np.abs(percentage_error(np.asarray(y_true), np.asarray(y_pred)))) * 100

In [259]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
print('MSE %.2f' % mean_squared_error(y_test, y_pred))
print('R^2 %.2f' % r2_score(y_test, y_pred))
print('MAPE %.2f' % mean_absolute_percentage_error(y_test, y_pred))

MSE 42.70
R^2 0.18
MAPE 161.76